#pricing{
    padding: 120px;
    text-align: center;
  }

  .pricing-col{
    padding: 3% 2%;
  }

  .car{
    height: 700px;
    width: 100%;
  }

  @media (max-width: 1028px){
      .car{
          height: 300px;
          width: 100%;
      }
  }